<div id="anchor-contact" class="container-fluid pb-0 mb-0 justify-content-center text-light">
  <footer >
    <div class="row my-5 justify-content-center py-5">
      <div class="col-10">
        <div class="row">
          <div class="col-xl-12 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
            <div class="d-flex justify-content-center">
              <img
                src="../../../assets/img/vulpecode.png"
                alt=""
                width="160px"
              />
            </div>
            <h3 class="mb-md-0 mb-5 bold-text text-center">
              Vulpe Code
            </h3>
            <p class="mb-md-0 mt-5 text-center col-6 my-auto mx-auto ">
              "We work with project sites and leadpages aimed at blockchain,
              cryptocurrencies and nft games, please contact us to order your new site".
            </p>
            <div class="mb-md-0 mt-5 mb-5 text-center">
             <h5> Donate: </h5>
              <br><span>0x306aF0E4CA8D7C49C7A58d4B41B57B5512C2D8A9</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="
              col-xl-8 col-md-4 col-sm-4 col-auto
              my-md-0
              mt-5
              order-sm-1 order-3
              align-self-end
            "
          >
            <p class="social text-muted mb-0 pb-0 bold-text">
              <!-- <span class="mx-2"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></span>
              <span class="mx-2"
                ><i class="fa fa-linkedin-square" aria-hidden="true"></i
              ></span>
              <span class="mx-2"
                ><i class="fa fa-twitter" aria-hidden="true"></i
              ></span>
              <span class="mx-2"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></span> -->
            </p>
            <small class="rights"
              ><span>&#174;</span> Vulpe Code All Rights Reserved. 2021</small
            >
          </div>
          <div
            class="col-xl col-md col-sm col-auto order-1 align-self-end"
          >
            <h6 class="mt-55 mt-2 text-muted bold-text">
              <b>COMERCIAL</b>
            </h6>
            <small>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <a class="text-white" href="mailto:vulpecode@gmail.com"> vulpecode@gmail.com </a>
              </small
            >
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
