
a{
  color: black;
}

.end-nav{
  display: flex;
  justify-content: end;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  bottom: 270px;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active,.nav-link:focus{
  color: #fff;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

/* ignore the code below */


.link-area
{
  position:fixed;
  display: flex;
  bottom:20px;
  left:20px;
  padding-top:160px;
  padding:40px;
  border-radius:10px;
  opacity: 90%;
  margin-bottom: 100px;
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 150px;
  box-shadow: 0 0 0 5px #fff, 5px 5px 0 5px rgb(0 0 0 / 10%);
}

.link-area a
{
  text-decoration:none;
  color:#fff;
  font-size:25px;
}
.link-area h3{
  color:#fff;
}

@media (max-width: 700px)
{
  .navbar
   {
    display: none;
   }
}
