<div id="anchor-calculator" class="mt-2 mb-4 ajustefino">
  <h1  class="text-center">Calculator</h1>
  <section class="row roi-section container-fluid">
    <div class="card card-lg col-lg-6 order-lg-2">
      <div class="card-body">
        <div id="roi-anchor" class="row align-items-sm-center mb-5"></div>
      </div>
      <app-calculator-form></app-calculator-form>
    </div>
    <div class="col-lg-6 my-auto">
      <h2>Calcute your payback</h2>
      <p class="mb-0">
        Enter the investment amount and how many $CShips you earn per day.
        Remembering that the average of a common ship is 20 $CShips. Then click
        on "Calculate".
      </p>
    </div>
  </section>
</div>
