  <div class="card-ship">
    <div class="text-color">
      <h5 class="text-center mt-2">
        Today's Featured Ship
      </h5>
      <div class="text-center">
        <img src="assets/img/Uncommon - Glory.png" alt="Ship-Glory" />
      </div>
      <ul class="mt-2 list-unstyled text-center">
        <li class="mb-1">
          <h6><span>Glory</span> - Rare</h6>
        </li>
        <li class="p-2 d-flex justify-content-between text-sm">
          POWER 157
          <span>
            <progress value="157" max="200"></progress>
          </span>
        </li>
        <li class="p-2 d-flex justify-content-between">
          SPEED 149
          <span>
            <progress value="149" max="200"></progress>
          </span>
        </li>
        <li class=" p-2 d-flex justify-content-between">
          STEERING 56
          <span>
            <progress value="56" max="100"></progress>
          </span>
        </li>
        <li class="p-2 d-flex justify-content-between">
          OIL 60
          <span>
            <progress value="60" max="100"></progress>
          </span>
        </li>
      </ul>
      <div class="d-flex justify-content-center">
        <button type="button" class="buttonBsc">Refresh</button>
      </div>
    </div>
  </div>

