<div class="card-ship">
  <div class="text-color">
    <h5 class="text-center mt-2 mb-2">Featured Ship</h5>
    <div class="text-center">
      <img src={{img}} alt="Ship-Day" />
    </div>
    <ul class="mt-2 list-unstyled text-center">
      <li class="mb-1">
        <h6>
          <span>{{ name }}</span> - {{ rarity }}
        </h6>
      </li>
      <li>
        <p><span>Races Per Day: </span> {{ races }}</p>
      </li>
      <li>
        <p><span> Avarege: </span> {{ avarege }} CSHIPS</p>
      </li>
      <!-- <li class="p-2 d-flex justify-content-between text-sm">
          POWER 157
          <span>
            <progress value="157" max="200"></progress>
          </span>
        </li>
        <li class="p-2 d-flex justify-content-between">
          SPEED 149
          <span>
            <progress value="149" max="200"></progress>
          </span>
        </li>
        <li class=" p-2 d-flex justify-content-between">
          STEERING 56
          <span>
            <progress value="56" max="100"></progress>
          </span>
        </li>
        <li class="p-2 d-flex justify-content-between">
          OIL 60
          <span>
            <progress value="60" max="100"></progress>
          </span>
        </li> -->
    </ul>
    <!-- <div class="card__rarity mb-2">
      <div class="box-rarity box-rarity__3 box-rarity-fill__3"></div>
      <div class="box-rarity box-rarity__3 box-rarity-fill__3"></div>
      <div class="box-rarity box-rarity__3 box-rarity-fill__3"></div>
      <div class="box-rarity box-rarity__3 "></div>
      <div class="box-rarity box-rarity__3 "></div>
    </div> -->
    <!-- <div class="d-flex justify-content-center mb-2">
      <button type="button" (click)="ngOnInit()" class="buttonBsc">Refresh</button>
    </div> -->
  </div>
</div>
