<div class="container-fluid mt-5 mb-1">
  <div class="card-ship">
    <div class="text-color">
      <h5 class="text-center mt-2 mb-2">{{ name }}</h5>
      <div class="text-center">
        <img src="{{ img }}" alt="Ship-Day" />
      </div>
      <ul class="mt-2 list-unstyled text-center">
        <li class="mb-1">
          <h6>
            {{ rarity }}
          </h6>
        </li>
        <li>
          <p><span>Races Per Day: </span> {{ races }}</p></li>
        <li>
          <p><span> Avarege: </span> {{ avarege }} CSHIPS</p>
        </li>
      </ul>
      <div class="d-flex justify-content-center mb-2">
      <button type="button" (click)="ngOnInit()" class="buttonBsc">OPEN NEW SHIP</button>
    </div>
    </div>
  </div>
</div>
